* {
  margin: 0;
  padding: 0;
}

.tabbar {
  list-style: none;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  box-shadow: 0 -2px 5px #ccc;
}

.tabbar>li {
  flex: 1;
  text-align: center;
  cursor: pointer;

}

.hover-tab {
  color: red;
  font-weight: 600;
}

ul {
  list-style: none;
}

.tabbar-list>li {
  width: 100%;
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
}

.tabbar-list>li>.name {
  font-size: 16px;
  color: #333;
  font-weight: 600px;
  line-height: 1.5;
  padding: 5px;
}

.tabbar-list>li>.address {
  font-size: 12px;
  color: #666;
  font-weight: 400px;
  line-height: 1.2;
  padding: 5px;
}

.head-search-wrap {
  width: 100%;
  display: flex;
  height: 50px;
}

input {
  border: none;
  border-radius: 4px;
  width: 70%;
  outline: none;
  background-color: #EEE;
  padding: 0 10px;
  height: 30px;
  box-sizing: border-box;
  margin: 10px 5%;
}

input:focus {
  border: none;
}

button {
  margin: 10px;
  flex: 1;
  border: none;
  background-color: none;
}
.wrapper {
  height: calc(100vh - 50px);
}
.wrapper::-webkit-scrollbar {
  width: 0;
}